* {
  box-sizing: border-box;
}
body {
  background-color: #2a2a2a;
}

.App {
  width: 1200px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block {
  width: 450px;
  height: 300px;
  padding: 20px;
  border: 2px solid cyan;
  border-radius: 10px;
}

.display {
  height: 180px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid cyan;
  border-radius: 10px;
}

.btnWrapper {
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid cyan; 
  border-radius: 10px; 
}

.btn {
  width: 80px;
  font-size: 24px;
  font-weight: bold;
  color: #2a2a2a;
}